@font-face {
    font-family: odin-font;
    src: url("./Fonts/Norse-Bold.otf");
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    
}
.container {
    display: flex;
    
}

#spacebg {
    height: 100vh;
    width: 35vw
}

.left-side {
    position: relative;
}

#sidebar {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 35vw;
    height: 15%;
    justify-content: center;
    font-size: 90px;
    top: 20vh;
    font-family: odin-font;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    gap: 5px;
}
#odin-logo {
    height: 12vh;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 200px;
}

#credit {
    position: absolute;
    color: white;
    text-align: center;
    top: 97vh;
}

#sign-up-form {
    display: flex;
    flex-wrap: wrap;
}

.form_container {
    display: flex;
}